%svg.logo{ height: "#{size}", width: "#{size}" }
  %circle.outline.outline--outer{ cx: "#{size/2}", cy: "#{size/2}", r:"#{size/2 - size/20}" }
  %circle.outline.outline--inner{ cx: "#{size/2}", cy: "#{size/2}", r:"#{size/2 - size/10}" }
  %circle.outline.hole{ cx: "#{size/2 - size/10}", cy: "#{size/2 - size/10}", r:"#{size/20}" }
  %circle.outline.hole{ cx: "#{size/2 + size/10}", cy: "#{size/2 - size/10}", r:"#{size/20}" }
  %circle.outline.hole{ cx: "#{size/2 - size/10}", cy: "#{size/2 + size/10}", r:"#{size/20}" }
  %circle.outline.hole{ cx: "#{size/2 + size/10}", cy: "#{size/2 + size/10}", r:"#{size/20}" }
  %line.cross{ x1: "#{size/2 - size/10}", y1: "#{size/2 - size/10}" , x2: "#{size/2 + size/10}", y2: "#{size/2 + size/10}" }
  %line.cross{ x1: "#{size/2 + size/10}", y1: "#{size/2 - size/10}" , x2: "#{size/2 - size/10}", y2: "#{size/2 + size/10}" }
