.main-inner
  %p
    This site contains the projects im currently working on or was working before.
  .projects
    .project
      .project-inner
        = link_to "https://www.fairnopoly.de" do
          %img{:src => "http://info.fairnopoly.de/infoblog/wp-content/uploads/2013/03/Logo_Claim_tranparent_500x121.png"}

        %p
          German online marketplace plattform written in Ruby on Rails.
          Sell or buy anything what is legal. Special features to support
          sustainable products.
        %ul.fa-ul
          %li
            %i.fa-li.fa.fa-globe
            = link_to "https://www.fairnopoly.de" do
              Main Site
          %li
            %i.fa-li.fa.fa-info
            = link_to "http://info.fairnopoly.de" do
              Blog
          %li
            %i.fa-li.fa.fa-github
            = link_to "https://github.com/fairnopoly/fairnopoly" do
              Github


    .project
      .project-inner
        = link_to "https://www.fairnopoly.de" do
          %img{:src => "http://info.fairnopoly.de/infoblog/wp-content/uploads/2013/03/Logo_Claim_tranparent_500x121.png"}

        %p
          German online marketplace plattform written in Ruby on Rails.
          Sell or buy anything what is legal. Special features to support
          sustainable products.
        %ul.fa-ul
          %li
            %i.fa-li.fa.fa-globe
            = link_to "https://www.fairnopoly.de" do
              Main Site
          %li
            %i.fa-li.fa.fa-info
            = link_to "http://info.fairnopoly.de" do
              Blog
          %li
            %i.fa-li.fa.fa-github
            = link_to "https://github.com/fairnopoly/fairnopoly" do
              Github

    .project
      .project-inner
        = link_to "https://www.fairnopoly.de" do
          %img{:src => "http://info.fairnopoly.de/infoblog/wp-content/uploads/2013/03/Logo_Claim_tranparent_500x121.png"}

        %p
          German online marketplace plattform written in Ruby on Rails.
          Sell or buy anything what is legal. Special features to support
          sustainable products.
        %ul.fa-ul
          %li
            %i.fa-li.fa.fa-globe
            = link_to "https://www.fairnopoly.de" do
              Main Site
          %li
            %i.fa-li.fa.fa-info
            = link_to "http://info.fairnopoly.de" do
              Blog
          %li
            %i.fa-li.fa.fa-github
            = link_to "https://github.com/fairnopoly/fairnopoly" do
              Github

    .project
      .project-inner
        = link_to "https://www.fairnopoly.de" do
          %img{:src => "http://info.fairnopoly.de/infoblog/wp-content/uploads/2013/03/Logo_Claim_tranparent_500x121.png"}

        %p
          German online marketplace plattform written in Ruby on Rails.
          Sell or buy anything what is legal. Special features to support
          sustainable products.
        %ul.fa-ul
          %li
            %i.fa-li.fa.fa-globe
            = link_to "https://www.fairnopoly.de" do
              Main Site
          %li
            %i.fa-li.fa.fa-info
            = link_to "http://info.fairnopoly.de" do
              Blog
          %li
            %i.fa-li.fa.fa-github
            = link_to "https://github.com/fairnopoly/fairnopoly" do
              Github


    .project
      .project-inner
        = link_to "https://www.fairnopoly.de" do
          %img{:src => "http://info.fairnopoly.de/infoblog/wp-content/uploads/2013/03/Logo_Claim_tranparent_500x121.png"}

        %p
          German online marketplace plattform written in Ruby on Rails.
          Sell or buy anything what is legal. Special features to support
          sustainable products.
        %ul.fa-ul
          %li
            %i.fa-li.fa.fa-globe
            = link_to "https://www.fairnopoly.de" do
              Main Site
          %li
            %i.fa-li.fa.fa-info
            = link_to "http://info.fairnopoly.de" do
              Blog
          %li
            %i.fa-li.fa.fa-github
            = link_to "https://github.com/fairnopoly/fairnopoly" do
              Github