= simple_form_for @post, :html => { :multipart => true  } do |form|

  = form.input :title, input_html: {size: 50}
  = form.input :image
  = form.input :description
  = form.input :content, as: :text , input_html:  { rows: 10 ,cols: 50, class: 'ckeditor'}
  = editing_help
  = form.button :submit
