= simple_form_for resource, :html => { :multipart => true  } do |form|
  = form.input :image
  = form.input :title, input_html: {size: 50}
  = form.input :description,as: :text, input_html: {rows: 10 ,cols: 50, class: "editcode" , data: {codemode: "markdown"}}
  = editing_help
  = form.submit class: 'button'
