.post
  - if @post.image.present?
    = link_to image_post_path(@post) do
      = image_tag(image_post_path(@post, style: :thumb))
  .post-admin
    - if user_signed_in?
      = link_to edit_post_path(@post)  do
        %i.fa.fa-pencil
      = link_to post_path(@post), method: :delete  do
        %i.fa.fa-times
  %h2
    = @post.title
  
  %p
    :markdown
      #{@post.description}
  .fragments
    - @post.fragments.asc(:position).each do |fragment|
      .fragment{:id => "fragment_#{fragment.id}"}
        - if user_signed_in?
          .fragment-admin
            = link_to edit_post_fragment_path(@post,fragment), remote: true do
              %i.fa.fa-pencil
            = link_to post_fragment_path(@post,fragment), method: :delete do
              %i.fa.fa-times
            = link_to post_fragment_path(@post,fragment ,fragment: { move_to: :higher } ), method: :put do
              %i.fa.fa-chevron-up
            = link_to post_fragment_path(@post, fragment,fragment: { move_to: :lower } ), method: :put do
              %i.fa.fa-chevron-down
            &nbsp;
        - begin
          = render "fragments/type/#{fragment.type}", :fragment => fragment
        - rescue => e
          %p{title: e}
            = fragment.value
        
    - if user_signed_in?
      #new_fragment
        #ruby
          = link_to new_post_fragment_path(@post, fragment: {type: :ruby} ), remote: true  do
            %i.fa.fa-code
            Add Ruby
        #js
          = link_to new_post_fragment_path(@post, fragment: {type: :javascript} ), remote: true  do
            %i.fa.fa-code
            Add JS 
        #haml
          = link_to new_post_fragment_path(@post, fragment: {type: :haml} ), remote: true  do
            %i.fa.fa-code
            Add HAML 
        #htmlmixed
          = link_to new_post_fragment_path(@post, fragment: {type: :htmlmixed} ), remote: true  do
            %i.fa.fa-code
            Add HTML 
        #sass
          = link_to new_post_fragment_path(@post, fragment: {type: :sass} ), remote: true  do
            %i.fa.fa-code
            Add SASS
        #markdown
          = link_to new_post_fragment_path(@post, fragment: {type: :markdown} ), remote: true do
            %i.fa.fa-file-text-o
            Add Markdown
%p
  = link_to "Back", posts_path, class: 'button'
