.container
  .row
    .col-md-9
      - if user_signed_in?
        .pull-right
          .btn-group
            = link_to edit_post_path(@post), class: 'btn btn-primary' do
              %i.fa.fa-pencil>
            = link_to post_path(@post), method: :delete, class: 'btn btn-danger' do
              %i.fa.fa-times>
      .media
        - if @post.image.present?
          = link_to image_post_path(@post), class: "media-left" do
            = image_tag(image_post_path(@post, style: 'thumb'), class: "img-rounded")
        .media-body
          %h1.media-heading= @post.title
          %p= @post.description




      = raw @post.content
      = link_to "Back", posts_path, class: 'btn btn-default', role: "button"
    .col-md-3
      - @other_posts.each do |post|
        .post
          - if post.image.present?
            .image.pull-right
              = link_to post do
                = image_tag(image_post_path(post, style: :thumb))
          = link_to post do
            %h3= post.title
            %p= post.description
          .clearfix
