!!!
%html
  %head
    %title smallbutton.com
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %a.navbar-brand{href: root_path}
          %button.navbar-toggle{"data-target" => "#navbar-main", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        #navbar-main.navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => posts_path}
                %i.fa.fa-code
                TIMELINE
            %li
              %a{:href => informations_path}
                %i.fa.fa-user
                ABOUT

    .heading{ class: "#{@big_header ? 'jumbotron' : '' }" }
      .container
        = yield :header
    = yield
    .footer
      .container
        %p.text-muted
          &copy; Copyright 2014 Andreas Knöpfle

          - if user_signed_in?
            = link_to('(logout)', destroy_user_session_path, method: :delete)
          - else
            = link_to('(login)', new_user_session_path)
