!!!
%html
  %head
    %title smallbutton.com
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    %link{rel:"stylesheet", href:"/favicon.ico" }
    = csrf_meta_tags
    = metamagic site: "smallbutton.com", title: [:title, :site], |
                description: "yet another code monkeys blog", separator: " — ", |
                keywords: ["rails","tutorials","ruby","optimization","smallbutton","developer"], |
                twitter: {  card: "summary", site: "@andreasknoepfle", title: "smallbutton.com", |
                  description: "yet another code monkeys blog", image: image_url("me.jpg"), url: informations_url} |
    = auto_discovery_link_tag :atom, posts_path(format: :atom)
    = auto_discovery_link_tag :rss,  posts_path(format: :rss)
  %body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %a.navbar-brand{href: root_path}
            = render "informations/logo", size: 25
            smallbutton.com
          %button.navbar-toggle{"data-target" => "#navbar-main", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        #navbar-main.navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right

            %li
              %a{:href => informations_path}
                %i.fa.fa-user
                &nbsp;
                ABOUT
            - if user_signed_in?
              %li
                = link_to "New Post", new_post_path
            %li
              = link_to "https://github.com/andreasknoepfle/" do
                %i.fa.fa-github
                &nbsp;
                GITHUB
            %li
              = link_to "https://twitter.com/andreasknoepfle" do
                %i.fa.fa-twitter
                &nbsp;
                TWITTER


    = yield
    .footer
      .container
        %p.text-muted
          &copy; Copyright 2014 Andreas Knöpfle
          %span.pull-right.admin
            - if user_signed_in?
              = link_to destroy_user_session_path, method: :delete do
                %i.fa.fa-lock
            - else
              = link_to new_user_session_path do
                %i.fa.fa-unlock
