!!!
%html
  %head
    %title smallbutton.com
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag    asset_path("controller/#{params[:controller]}.css"),"data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .wrapper
      .header{ :class => "#{"header--big" if @big_header}"}
        .header-inner
          .header-logo
            %a{:href => root_path}>
              %span{ :class => "sprite_button#{"_large" if @big_header}"}
              %h1 smallbutton.com
            %h2 yet another code monkeys blog 
          .header-nav
            %ul
              %li
                %a{:href => posts_path}
                  %i.fa.fa-code
                  Posts
              -# %li
                %a{:href => "#"}
                  %i.fa.fa-camera
                  Photos
              %li
                %a{:href => informations_path}
                  %i.fa.fa-user
                  About

      .main
        .main-inner
          = yield
    .footer
      .footer-inner
        .legal
          &copy; Copyright 2014 Andreas Knöpfle
        .user
          - if user_signed_in?
            = link_to('(logout)', destroy_user_session_path, method: :delete)
          - else
            = link_to('(login)', new_user_session_path)
        .links
          = link_to posts_path do
            %i.fa.fa-code
            All Posts
          = link_to informations_path do
            %i.fa.fa-user
            About Me
          = link_to "https://github.com/andreasknoepfle" do
            %i.fa.fa-github
            Github



