!!!
%html
  %head
    %title smallbutton.com
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag    asset_path("#{params[:controller]}"),"data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .wrapper
      .header
        .header-inner
          .header-logo
            %a{:href => root_path}
              %span.sprite_button
              %h1
                smallbutton.com
          .header-nav
            %ul
              %li
                %a{:href => "#"}
                  %i.fa.fa-code
                  Code
              %li
                %a{:href => "#"}
                  %i.fa.fa-camera
                  Photos
              %li
                %a{:href => informations_path}
                  %i.fa.fa-user
                  About

      .main
        = yield
    .footer
      .footer-inner
        .legal
          &copy; Copyright 2014 Andreas Knöpfle
        .links
          = link_to "https://github.com/andreasknoepfle" do
            %i.fa.fa-github
            Github



