!!!
%html
  %head
    %title smallbutton.com
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %a.navbar-brand{href: root_path}
            smallbutton.com
          %button.navbar-toggle{"data-target" => "#navbar-main", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        #navbar-main.navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => posts_path}
                %i.fa.fa-code
                TIMELINE
            %li
              %a{:href => informations_path}
                %i.fa.fa-user
                ABOUT


    = yield
    .footer
      .footer-inner
        .legal
          &copy; Copyright 2014 Andreas Knöpfle
        .user
          - if user_signed_in?
            = link_to('(logout)', destroy_user_session_path, method: :delete)
          - else
            = link_to('(login)', new_user_session_path)
        .links
          = link_to posts_path do
            %i.fa.fa-code
            All Posts
          = link_to informations_path do
            %i.fa.fa-user
            About Me
          = link_to "https://github.com/andreasknoepfle" do
            %i.fa.fa-github
            Github
